body {
    background-color: aliceblue;
    margin: 20px;
    border: 20px solid white;
}

div {
    background-image: linear-gradient(45deg, rgb(161, 89, 89), rgb(73, 73, 165));
    height: 20vh;
    border-radius: 20px;
}

header {
    display: flex;
    justify-content: center;
    position: absolute;
}

.flag {
    width: 120px;
    margin: 25px;
}

.congre_title {
    color: #ffffff;
    font-family: 'Abril Fatface', cursive;
    display: flex;
    margin: auto;
    padding: 20px;
    margin-left: 180px;
}

.bio {
    background-color: rgb(181, 201, 238);
    border-radius: 20px;
    padding: 20px;
    height: 75%;
}

img {
    width: 200px;
    border-radius: 20px;
}

.name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
    border: 3px solid steelblue;
    border-radius: 10px;
    width: 300px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.committees {
    flex: 1;
}

.legislation {
    flex: 2;
}